body {
  font-family: "freude", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #fffafc;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

header h1 {
  font-family: "freude", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #A53860;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

nav button {
  margin: 0 5px;
  background: #9AC4F8;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.view {
  display: none;
}

.view.active {
  display: block;
}

#calendar, #symptomCalendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin: 1rem 0;
}

.day {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 0.9rem;
}

.menstrual { background: #6C0E32; }
.follicular { background: #A53860; }
.ovulation { background: #DA627D; }
.luteal { background: #FFA5AB; }
.symptom-day { border: 2px solid #0F7173; }

.log-btn {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 10px;
  background: #9AC4F8;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

form {
  background: F9DBBD;
  padding: 1rem;
  border-radius: 10px;
}

form h2 {
  font-size: 1.2rem;
  color: #A53860;
}

form label {
  display: block;
  margin: 8px 0;
}

form button {
  margin-top: 10px;
  background: #9AC4F8;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}
