body {
  font-family: "freude", sans-serif;
  font-weight: 50;
  font-style: normal;
  background: #FFF2F3;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

header {
  position: relative;
}


header h1 {
  font-family: "freude", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: #A53860;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

nav button {
  font-family: "freude", sans-serif;
  font-weight: 50;
  margin: 0 5px;
  background: #A0A3E4;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.view {
  display: none;
}

.view.active {
  display: block;
}

#calendar, #symptomCalendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin: 1rem 0;
}

.day {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 50;
}

.menstrual { background: #6C0E32; color: #fff;}
.follicular { background: #A53860; color: #fff;}
.ovulation { background: #DA627D; color: #fff;}
.luteal { background: #FFA5AB; color: #fff;}
.symptom-day { border: 2px solid #0F7173; color: #fff;}

.log-btn {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 10px;
  background: #A0A3E4;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-family: "freude", sans-serif;
  font-weight: 100;
}

form {
  background: #DEE0F7;
  padding: 1rem;
  border-radius: 10px;
}

form h2 {
  font-size: 1.2rem;
  color: #A53860;
}

form label {
  display: block;
  margin: 8px 0;
}

form button {
  margin-top: 10px;
  background: #A0A3E4;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-family: "freude", sans-serif;
  font-weight: 100;
}

#cycleInfo, #cycleTips {
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-weight: 50;
}

#cycleInfo p,
#cycleTips p,
#cycleTips strong {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  line-height: 1.4;
  color: #fff;
}

#notifyBtn {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 6px;
}

#notifyBtn svg {
  display: block;
  width: 22px;
  height: 22px;
  transition: transform 0.2s ease;
  fill: #A0A3E4;
}

#notifyBtn:hover svg {
  transform: scale(1.1);
}


